<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">


<head th:fragment="mainHeader(title)">
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <style>
        .gradient-custom {
            background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }
    </style>
</head>


<div th:fragment="bodyHeader" class="p-5 mb-5 text-center</> bg-light">
    <a href="/articles" ><h1 class="mb-3">My Blog</h1></a>
    <h4 class="mb-3">블로그에 오신 것을 환영합니다.</h4>
</div>

</html>